* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

input {
  text-align: left;
  padding: 10px;
  font-size: 1rem;
}

h3 {
  text-align: left;
}

ol div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



button {
  background-color: black;
  color: white;
  padding: 11.5px 25px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
